.collection-item a {
  background: transparent;
}

.collection-item a:hover {
  background: #cc181e !important;
  color: #fff !important;
}

.collection-item a:hover .yt-thumb {
  background-image:url('chrome-extension://__MSG_@@extension_id__/img/collection-icon-white-20.png');
}

.collection-item .yt-thumb {
  background-color: transparent;
  background-image:url('chrome-extension://__MSG_@@extension_id__/img/collection-icon-gray-20.png');
}