#guide-collection-list .collection-item > a {
  background: transparent;
}

#guide-collection-list .collection-item > a:hover {
  background: #cc181e !important;
  color: #fff !important;
}

#guide-collection-list .collection-item > a:hover .yt-thumb-20 {
  background-image:url('chrome-extension://__MSG_@@extension_id__/img/collection-icon-white-20.png');
}

#guide-collection-list .collection-item > a .yt-thumb-20 {
  background-color: transparent;
  background-image:url('chrome-extension://__MSG_@@extension_id__/img/collection-icon-gray-20.png');
}