<li class="guide-channel collection-item guide-notification-item overflowable-list-item" role="menuitem">
  <a class="guide-item yt-uix-sessionlink yt-valign" data-collection-id="##id##" href="javascript:void(0);" title="##name##">
    <span class="yt-valign-container"><span class="thumb"><span class="video-thumb  yt-thumb yt-thumb-20"><span class="yt-thumb-square"><span class="yt-thumb-clip"><span class="vertical-align"></span></span></span></span></span>
      <span class="display-name "><span>##name##</span></span>
    </span>
    <span class="guide-count yt-uix-tooltip yt-valign">
      <span class="yt-valign-container guide-count-value">##count##</span>
    </span>
  </a>
  <ul id="##id##-guide-channel-list" class="guide-channels-list guide-collection-channel-list">
  </ul>
</li>