<tr id="##id##-manager-collection" class="collection-item subscription-item">
<td>
<div class="subscription-title-container clearfix">
  <span class="subscription-thumb-wrap">
    <span class="video-thumb subscription-thumb yt-thumb yt-thumb-46">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
  </span>
  <div class="subscription-title-wrap">
    <span class="qualified-channel-title ellipsized">
    <span class="qualified-channel-title-wrapper">
    <span dir="ltr" class="qualified-channel-title-text">
    <span class="subscription-title" title="##name##">
      ##name##
    </span>
    </span>
    </span>
    </span>
  </div>
</div>
</td>
<td class="subscription-options">
  <div class="yt-uix-menu ">
    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup yt-uix-menu-trigger yt-uix-tooltip add-to-collection" type="button" onclick=";return false;" title="More actions" aria-haspopup="true" role="button" aria-pressed="false" aria-label="Action menu." data-tooltip-text="More actions" aria-labelledby="yt-uix-tooltip112-arialabel" aria-controls="aria-menu-id-4"><span class="yt-uix-button-content">More</span></button>
    <div class="yt-uix-menu-content yt-ui-menu-content yt-uix-kbd-nav yt-uix-menu-content-hidden" role="menu" style="min-width: 69px; left: 258.516px; top: 680px;" aria-expanded="false" id="aria-menu-id-4" data-kbd-nav-move-out="action-panel-overflow-button">
      <ul id="action-panel-overflow-menu" tabindex="0" class="yt-uix-kbd-nav yt-uix-kbd-nav-list">
        <li class="">
          <button type="button" class="yt-ui-menu-item has-icon yt-uix-menu-close-on-select action-panel-trigger action-panel-trigger-report" data-trigger-for="action-panel-report">
          <span class="yt-ui-menu-item-label">Report</span>
          </button>
        </li>
        <li class="">
          <button type="button" class="yt-ui-menu-item has-icon yt-uix-menu-close-on-select action-panel-trigger action-panel-trigger-transcript" data-trigger-for="action-panel-transcript">
          <span class="yt-ui-menu-item-label">Transcript</span>
          </button>
        </li>
        <li class="">
          <button type="button" class="yt-ui-menu-item has-icon yt-uix-menu-close-on-select action-panel-trigger action-panel-trigger-stats" data-trigger-for="action-panel-stats">
          <span class="yt-ui-menu-item-label">Statistics</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default filter-button" type="button" dir="ltr"><span class="yt-uix-button-content collection-remove-button" data-collection-id="##id##">Remove</span></button>
</td>
</tr>