<div data-collection-id="##id##" class="add-to-collection">
  <div class="yt-uix-menu ">
    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-opacity yt-uix-button-has-icon no-icon-markup yt-uix-menu-trigger yt-uix-tooltip add-to-collection-button" type="button" onclick=";return false;" title="Add to collection" aria-haspopup="true" role="button" aria-pressed="false" aria-label="Action menu." data-tooltip-text="Add to collection" aria-labelledby="yt-uix-tooltip112-arialabel" aria-controls="aria-menu-id-4"><span class="yt-uix-button-content"><span class="collection-label-wrapper">##label##</span></span></button>
    <div class="yt-uix-menu-content yt-ui-menu-content yt-uix-kbd-nav yt-uix-menu-content-hidden" role="menu" style="min-width: 69px; left: 258.516px; top: 680px;" aria-expanded="false" id="aria-menu-id-4" data-kbd-nav-move-out="action-panel-overflow-button">
      <ul tabindex="0" class="yt-uix-kbd-nav yt-uix-kbd-nav-list">
        ##buttons##
      </ul>
    </div>
  </div>
</div>