<div id="collections-manager-container" class="yt-card">
  <div class="subscription-manager-header">
    <div class="subscription-manager-filter-container">
      <form id="add-collection-form" class="subscriptions-filter"><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default filter-button" type="submit" onclick=";return true;" dir="ltr"><span class="yt-uix-button-content collection-add-button">Add</span></button><div class="filter-field-container" dir="ltr"><span class="filter-field yt-uix-form-input-container yt-uix-form-input-text-container  yt-uix-form-input-fluid-container"><span class=" yt-uix-form-input-fluid"><input class="yt-uix-form-input-text" maxlength="16" name="add-collection" value="" placeholder="Add Collection" autocomplete="off" required></span></span></div></form>
    </div>
    <h2 class="subscription-manager-title">
      <b>##quantity##</b> Collections
    </h2>
  </div>
  <div id="subscription-loading-indicator" class="hid">
    <div class="subscription-loader">
      <div class="subscription-loader-body">
           <p class="yt-spinner ">
        <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>

    <span class="yt-spinner-message">
        Loading
    </span>
  </p>

      </div>
    </div>
  </div>

  <table id="collection-manager-list">
    <thead class="subscriptions-list">
      <tr class="subscription-table-header">
        <td></td>
        <td class="subscription-manager-sort-cell"></td>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>