<tr id="##id##-manager-collection" class="collection-item subscription-item">
<td>
<div class="subscription-title-container clearfix">
  <span class="subscription-thumb-wrap">
    <span class="video-thumb subscription-thumb yt-thumb yt-thumb-46">
      <span class="yt-thumb-square">
        <span class="yt-thumb-clip">
          <span class="vertical-align"></span>
        </span>
      </span>
    </span>
  </span>
  <div class="subscription-title-wrap">
    <span class="qualified-channel-title ellipsized">
    <span class="qualified-channel-title-wrapper">
    <span dir="ltr" class="qualified-channel-title-text">
    <span class="subscription-title" title="##name##">
      ##name##
    </span>
    </span>
    </span>
    </span>
  </div>
</div>
</td>
<td class="subscription-options">
  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default filter-button" type="button" dir="ltr"><span class="yt-uix-button-content collection-remove-button" data-collection-id="##id##">Remove</span></button>
</td>
</tr>